@model InvoiceFormModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="pt-5">
    <h4 class="text-center">Manage Invoice</h4>

    <div class="row pt-3">
        <div class="col-8 m-auto card pt-3">
            <form method="post" asp-action="Save" asp-controller="Invoice" asp-route-vehicleId="@Model.VehicleId">
                <input asp-for="VehicleId" type="hidden" />
                <input asp-for="InvoiceId" type="hidden" />
                <input asp-for="VehicleFullName" type="hidden"/>
                
                <div class="form-row pt-1">
                    <div class="col-8">
                        <h5 class="text-muted pt-1 pb-3">@Model.VehicleFullName</h5>
                    </div>
                    <div class="col-4 float-right">
                        <p class="text-muted">* - denotes required fields.</p>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label asp-for="CustomerName" class="col-form-label">Customer Name</label>
                        <input asp-for="CustomerName" class="form-control form-control-sm" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    
                </div>
               
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="PriceSold" class="col-form-label">Price Sold*</label>
                        <input asp-for="PriceSold" class="form-control form-control-sm" />
                        <span asp-validation-for="PriceSold" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="DateSold" class="col-form-label">Date Sold</label>
                        <input asp-for="DateSold" class="form-control form-control-sm" type="date" />
                        <span asp-validation-for="DateSold" class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Invoice</button>
                    <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.VehicleId" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
