@model VehicleViewModel
@{
    ViewData["Title"] = "Inventory Management";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<div class="pt-5">
    <h4 class="text-center">Delete Vehicle</h4>
    <h5 class="text-center">Are you sure you want to delete?</h5>
    <div class="row pt-3">
        <div class="col-6 m-auto card">
            <form method="post" asp-action="Delete" asp-controller="Cars">
                <input asp-for="VehicleId" type="hidden" value="@Model.VehicleId" />
                <div class="form-group pt-4 pb-3">
                    <h3 class="text-center">@Model.FullVehicleName</h3>
                    <p class="text-center">VIN: @Model.VIN</p>

                    <p class="text-center text-danger font-weight-bold">You will lose ALL information attached to this vehicle!</p>
                </div>
                <hr />
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.VehicleId" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
