@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Something Happened...</h1>
<h2 class="text-danger">An error occurred while processing your request. <br/>
    We are working to correct this issue. </h2>
<p>Contact support for further information.</p>
