@model PhotoFormModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="pt-5">
    <h4 class="text-center">Add Photo</h4>

    <div class="row pt-3">
        <div class="col-8 m-auto card pt-3">
            <form method="post" asp-action="Create" asp-controller="Photos" enctype="multipart/form-data">
                <input asp-for="Car.CarId" type="hidden" />

                <div class="form-row pt-1">
                    <div class="col-8">
                        <h5 class="text-muted pt-1 pb-3">@Model.Car.FullCarName</h5>
                    </div>
                    <div class="col-4 float-right">
                        <p class="text-muted">* - denotes required fields.</p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-7">
                        <div class="img-thumbnail col-6" style="display: none;">
                            <img id="imgThumbnail" height="100" width="100"/>
                        </div>

                        <div class="custom-file" style="cursor: pointer;">
                            <input type="file" class="custom-file-input" id="vehicleImage" name="Photo" accept="image/png,image/jpeg">
                            <label class="custom-file-label" for="vehicleImage">Choose Image</label>
                        </div>
                        <p class="text-muted pt-1">
                            *Image format: .jpg, .jpeg, .png 
                            <span asp-validation-for="Photo" class="text-danger ml-3"></span>
                        </p>
                    </div>
                    
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Description" class="col-form-label"></label>
                        <input asp-for="Description" class="form-control form-control-sm" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>

                @if (!@Model.IsMain)
                {
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="IsMain" class="col-form-label">
                                <input asp-for="IsMain" class="form-check-inline" /> Main Photo
                            </label>
                        </div>

                    </div>
                } else
                {
                    <input type="hidden" asp-for="IsMain" />
                }

                <hr />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Photo</button>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.Car.CarId" class="btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
    
              reader.onload = function (e) {
                
                  $('#imgThumbnail').attr('src', e.target.result).parent("div").show();
            }
    
            reader.readAsDataURL(input.files[0]);
          }
        }

        $("#vehicleImage").change(function() {
          readURL(this);
        });

    </script>
}
